.tarea-contenedor {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 700px;
    margin : 2px;
  }
  
  .tarea-contenedor:hover {
    background-color: #cecccc;
  }
  
  .tarea-contenedor.completada .tarea-texto {
    text-decoration: line-through;
    color: #0f5491;
  }
  
  .tarea-texto {
    flex-grow: 1;
  }
  
  .tarea-icono {
    font-size: 1.2em;
    color: #ccc;
  }
  
  .tarea-contenedor-iconos:hover .tarea-icono {
    color: #dc3545;
  }
  