.tarea-formulario {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 600px;
}

.tarea-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tarea-boton {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tarea-boton:hover {
  background-color: #0069d9;
}
